*{
    box-sizing: border-box;
}

body{
background: black;
font-family: "PT Sans", sans-serif;

}

h1{
    color: lightgray;
    padding-top: 3em;
    margin: 1rem;
}

img{
    width: 75%;
    height: 50%;
    float: right;
}
p{
    color: lightgray;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;

}
li {
    margin-right: 5rem;
    display: inline;

}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover{
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    display: inline-block;
}
ul li {
    display: inline;
}

.menu{
    float: right;
}



input{
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
    vertical-align: bottom;
    background-color: darkgray;
    border-color: none;
    border-radius: 5px;
}


.logo {
    background-image: url("../img/WSB-logo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    padding: 1em;
    padding-left: 3.5em;
    padding-right: 3.5em;
}